# dependencias
03-Servidores Express/node_modules
05-Websocket Handlebars/node_modules
06-PracticaIntegradora/src/.env
07-Segunda Pre Entrega/node_modules
07-Segunda Pre Entrega/src/.env
08-Implementacion de login/node_modules
08-Implementacion de login/src/.env
09-Refactor de login/src/node_modules
09-Refactor de login/src/.env
10-PracticaIntegradoraParteDos/src/node_modules
10-PracticaIntegradoraParteDos/src/.env
11-Tercer Pre Entrega/src/node_modules
11-Tercer Pre Entrega/src/.env
12-Mocking y manejo de errores/src/node_modules
12-Mocking y manejo de errores/src/.env